@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');


/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    justify-items: center;
    margin: 0 auto;
    width: 300px;
}

h1,
h2 {
    font-family: 'Lora', sans-serif;
}

img {
    align-self: center;
}



/*----------- HEADER --------------*/
header {
    padding: 7%;
    background-color: #6495ED;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    color:#FAEBD7;
    text-align: right;
}

header h1 a {
    color: #FAEBD7;
    text-decoration-line: none;
}

header hr {
    color: #FAEBD7;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #6495ED;
}

nav ul {
    list-style-type: none;
    line-height: 2em;
}

nav ul li a {
    color: #FAEBD7;
    text-decoration-line: none;
}

nav ul li a:hover {
    text-decoration-line: underline;
    color: white;
}

nav ul li.active a {
    background-color: #000;
    color: #DEB887;
}

/*----------- MAIN --------------*/
main {
    padding: 2%;
    min-height: 20rem;
    width: 300px;
    background-color:#FAEBD7 ;
}

.post-date{
    color: grey;
    text-align-last: left;
    
        padding-left: 8%;
        padding-top: 10%;
    
    
}

article{
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-right: 4px solid lightgray;
    border-bottom: 4px solid lightgray;
    height: auto;
}

section.post-content{
    font-size: 1em;
    padding: 4%;
    margin-top: -15px;
    color: black;
}

section.post-content h2, p{
    padding: 10px;
}

section.post-content h2{
    margin-top: 0px;
}

section.post-content figure{
    margin: 0 auto;
    padding: 8% 16% 2% 20%;
}

section.post-content figure img{
    width: 80%
}

.post-content a{
    color: black;
    text-decoration: none;
}

/*----------------Article Title Links--------------*/

section.post-content h2 a{
    color: black;
    text-decoration: none;
}

section.post-content h2 a:hover{
    color: #6495ED;
    text-decoration: underline;
}

section.post-content h2 a:active{
    color: #DEB887;
    text-decoration: none;
}

/*------------Article links--------------*/

.post-content p a{
    color: #6495ED;
}

.post-content p a:hover{
    color: #6495ED;
    text-decoration-line: underline;
}

.post-content p a:active{
    color: #DEB887;
}


/**************Large Screen********************/
@media only screen and (min-width: 64rem) {

    
    body {
        font-size: 16px;
        font-family: Helvetica, Arial, sans-serif;
        justify-items: center;
        margin: 0 auto;
        width: 60%;
    }
    
    div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header{
        
        height: 100%;
        margin-left: 0%;
        grid-column: 1;
        
    }

    main{
        grid-column: span2;
        width:100%;
    }
    
    
    article{
        background-color: white;
        width: 80%;
        margin: 40px auto;
        border-right: 4px solid lightgray;
        border-bottom: 4px solid lightgray;
    }

    section.post-content{
        padding: 5%;
        margin-top: -30px;
    }

    div.post-date{
        padding-left: 7%;
        padding-top: 10%;
    }


}